.site-header {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(auto, var(--container-width-small)) minmax(0, 1fr);
  grid-gap: 24px;
  padding: 16px 24px;
  border-bottom: 1px solid var(--border-color);
}

.site-title {
  margin: 0;
  display: flex;
  font-size: 1.125rem;
  line-height: 2rem;
}

.site-title a {
  color: var(--text-color-primary);
  text-decoration: none;
  
  &:hover, &:focus {
    color: var(--tint-color);
  }
}

.site-navigation__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.site-navigation__item {
  margin-left: 32px;
  font-size: 1.125rem;
  line-height: 2rem;
  font-family: var(--font-headline);

  &:first-child {
    margin: 0;
  }
}

.site-navigation__item a {
  display: block;
  color: var(--text-color-tertiary);
  text-decoration: none;

  &:hover, &:focus {
    color: var(--tint-color);
  }
}

.site-navigation__item--active {
  font-weight: bold;
  
  a {
    color: var(--tint-color);
  }
}

/* ------------------------------------------------------------------
||  Skip Link
------------------------------------------------------------------- */
.skip-link {
  background: var(--color-neutral-90);
  color: #fff;
  font-weight: 700;
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translateY(-100%);
}

.skip-link:focus {
  outline-color: var(--color-neutral-90);
  transform: translateY(0%);
}
