/* ------------------------------------------------------------------
||  Site Footer
------------------------------------------------------------------- */
.site-footer {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(auto, calc(var(--container-width-small) - 32px)) minmax(0, 1fr);
  grid-gap: 24px;
  padding: 24px 0;
  border-top: 1px solid var(--border-color);
}

.site-footer-content {
  grid-column: 2 / span 1;
  display: flex;
  justify-content: space-between;
}

.secondary-navigation__list {
  margin: 0;
  padding: 0;
  list-style: none;
  
  @media (min-width: 45rem) {
    display: flex;
  }
}

.secondary-navigation__item {
  margin: 0 0 8px;
  font-family: var(--font-headline);
  font-size: 1.125rem;
  line-height: 2rem;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 45rem) {
    margin: 0 0 0 24px;
    
    &:first-child {
      margin-left: 0;
    }
  }

  a {
    position: relative;
    color: var(--text-color-tertiary);
    text-decoration: none;
    
    &:hover {
      color: var(--tint-color);
      text-decoration: underline;
    }
  }
}

.copyright {
  font-family: var(--font-headline);
  font-size: 1.125rem;
  line-height: 2rem;
  color: var(--text-color-tertiary);
}
