.site-header {
  padding: 16px;
  border-bottom: 1px solid var(--border-color);
  
  @media (min-width: 72rem) {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(auto, calc(var(--container-width-small) - 32px)) minmax(0, 1fr);
    grid-gap: 24px;
    padding: 16px 24px;
  }
}

.site-title {
  margin: 0 0 8px;
  display: flex;
  font-size: 1.125rem;
  line-height: 2rem;
  
  @media (min-width: 72rem) {
    margin: 0;
  }
}

.site-title a {
  color: var(--text-color-primary);
  text-decoration: none;
  
  &:hover, &:focus {
    color: var(--tint-color);
  }
}

.site-navigation__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.site-navigation__item {
  margin-left: 32px;
  font-size: 1.125rem;
  line-height: 2rem;
  font-family: var(--font-headline);

  &:first-child {
    margin: 0;
  }
}

.site-navigation__item a {
  display: block;
  color: var(--text-color-tertiary);
  text-decoration: none;

  &:hover, &:focus {
    color: var(--tint-color);
  }
}

.site-navigation__item--active {
  position: relative;
  font-weight: bold;

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 3px;
    width: 100%;
    background-color: var(--tint-color);
    bottom: -16px;
  }
  
  a {
    color: var(--tint-color);
  }
}

/* ------------------------------------------------------------------
||  Skip Link
------------------------------------------------------------------- */
.skip-link {
  position: absolute;
  padding: 4px;
  left: 50%;
  font-family: var(--font-headline);
  font-size: 1rem;
  font-weight: 700;
  color: var(--background-color);
  background: var(--tint-color);
  transform: translateY(-100%);
}

.skip-link:focus {
  border: 4px solid var(--background-color);
  outline-color: var(--tint-color);
  transform: translateY(0%);
}
