/* ------------------------------------------------------------------
||  Global
------------------------------------------------------------------- */
body {
  font-family: var(--font-body);
  font-size: 1.125rem;
  line-height: 1.65;
  color: var(--text-color-primary);
}
