/* ------------------------------------------------------------------
||  Typography
------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.5rem;
  font-family: var(--font-headline);
  line-height: 1.25;
  color: var(--text-color-primary);
}

h1,
.title-1 {
  font-size: 2.25rem;
}

h2,
.title-2 {
  font-size: 1.5rem;
}

h3,
.title-3 {
  font-size: 1.25rem;
}

/* ------------------------------------------------------------------
||  Typography
------------------------------------------------------------------- */
p,
ul,
ol {
  margin: 0 0 1.5rem;
}

a {
  color: var(--tint-color);
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
  text-decoration-skip-ink: none;
  text-decoration-color: var(--text-color-primary);
  
  &:hover {
    text-decoration-color: var(--tint-color);
  }
}

/* ------------------------------------------------------------------
||  Typography
------------------------------------------------------------------- */
hr {
  display: block;
  margin: 0;
  height: 4px;
  border: none;
  background-color: var(--color-neutral-10);
}

img {
  max-width: 100%;
}

figure {
  margin: 0 0 1.5rem;
}

figcaption,
.case-study__gallery-caption {
  display: block;
  margin-top: 8px;
  font-family: var(--font-headline);
  font-size: 1rem;
  line-height: 1.25;
  color: var(--text-color-tertiary);
}
