/* ------------------------------------------------------------------
||  Custom Properties
------------------------------------------------------------------- */
:root {
  --container-width: 960px;
  --container-width-small: 62ch;

  --font-headline: "Apercu", sans-serif;
  --font-body: "Tiempos Text", Georgia, 'Times New Roman', Times, serif;
  --font-mono: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

  --tint-color: #0000FF;
  --text-color-primary: #111827;
  --text-color-secondary: #374151;
  --text-color-tertiary: #6B7280;

  --border-radius: 5px;
  --border-color: #E5E7EB;

  --background-color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --tint-color: #0000FF;
  }
}
