.wrapper {
  margin: 0 auto;
  padding: 0 16px;
  max-width: var(--container-width);
}

.wrapper--small {
  max-width: var(--container-width-small);
}

.main-content {
  padding: 48px 0;
  
  @media (min-width: 72rem) {
    padding: 72px 0;
  }
}
