/* ------------------------------------------------------------------
||  Case Study
------------------------------------------------------------------- */
.case-study {
  .case-study-title {
    margin: 0 0 8px;
  }
  
  .case-study-intro {
    display: block;
    margin: 0 0 24px;
    font-family: var(--font-body);
    font-weight: 400;
    line-height: 1.65;
    color: var(--text-color-secondary);
  }

  h2 {
    margin: 48px 0 16px;
  }
  
  h3, h4 {
    margin: 0 0 8px;
  }

  figure {    
    img {
      width: 100%;
    }
  }

  .case-study-cover {
    img {
      max-width: 100%;
      border: 2px solid var(--border-color);
      border-radius: var(--border-radius);
    }
  }
}

.case-study-cover__image {
  margin: 0;
}

.case-study__content {
  margin-bottom: 3rem;
  
  @media (min-width: 680px) {
    margin-bottom: 4.5rem;
  }
  
  figure {
    img {
      border: 2px solid var(--border-color);
      border-radius: var(--border-radius);
    }
  }

  figcaption {
    @media (min-width: 680px) {
      margin-left: auto;
      margin-right: auto;
      padding: 0 16px;
      max-width: var(--container-width-small);
    }
  }

  .case-study__gallery-caption {
    margin-left: initial;
    margin-right: initial;
    padding: 0;
    max-width: auto;
  }
}

/* ------------------------------------------------------------------
||  Case Study - Information
------------------------------------------------------------------- */
.case-study__information {
  display: grid;
  gap: 16px;
  padding: 1.5rem;
  background: linear-gradient(128deg, #F9FAFB 8%, #FFFFFF 96%);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  
  @media (min-width: 680px) {
    gap: 48px;
    grid-template-columns: 1fr 1fr;
    padding: 3rem;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

.case-study__information-bits {
  display: grid;
  gap: 16px;
}

.case-study__information-responsibilities li {
  margin: 0 0 .25rem;
}

.case-study__information-title {
  display: block;
  margin: 0 0 .25rem;
  font-family: var(--font-headline);
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.25;
}

.case-study__information-text {
  display: block;
  font-family: var(--font-headline);
  font-size: var(--size-500);
  line-height: 1.25;
  color: var(--black-60);
}

.case-study__gallery-list {
  display: grid;
  grid-gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
  
  @media (min-width: 680px) {
    grid-template-columns: 1fr 1fr;
  }
}
