/* ------------------------------------------------------------------
||  Case Study
------------------------------------------------------------------- */
.case-study {
  .page-title {
    margin: 0 0 8px;
  }
  
  .case-study-intro {
    margin: 0 0 48px;
    font-family: var(--font-body);
    font-weight: 600;
    color: var(--black-60);
  }

  p, ul, ol, .code-toolbar, .figure--inline {
    max-width: 60ch;
  }

  blockquote {
    max-width: calc(60ch - 3rem);
  }

  h2 {
    margin: 48px 0 24px;
  }
  
  h3, h4 {
    margin: 0 0 8px;
  }

  figure {    
    img {
      width: 100%;
      height: 100%;
    }
  }

  .case-study-cover {
    img {
      max-width: 100%;
      border: 4px solid var(--black-10);
      border-radius: var(--border-radius);
    }
  }
}

.case-study-cover {
  padding: 72px 0;
  background-color: var(--black-10);
}

.case-study-cover__image {
  margin: 0;
}

.case-study__content {
  margin-bottom: 4.5rem;
  
  figure {
    img {
      border: 4px solid var(--black-10);
      border-radius: var(--border-radius);
    }
  }
}

/* ------------------------------------------------------------------
||  Case Study - Themes
------------------------------------------------------------------- */
.case-study--bliss-design-system-v0-x {
  .case-study-cover,
  .case-study__information {
    background-color: lighten(#DF4D52, 34%);
  }
}


.case-study--bliss-design-system-iconsets {
  .case-study-cover,
  .case-study__information {
    background-color: lighten(#F09552, 30%);
  }
}


.case-study--bryter-services {
  .case-study-cover,
  .case-study__information {
    background-color: lighten(#F7CE55, 28%);
  }
}


.case-study--advance-vat-return {
  .case-study-cover,
  .case-study__information {
    background-color: lighten(#56BCAF, 34%);
  }
}


.case-study--motus-warehouse {
  .case-study-cover,
  .case-study__information {
    background-color: lighten(#4A66D2, 34%);
  }
}

/* ------------------------------------------------------------------
||  Case Study - Information
------------------------------------------------------------------- */
.case-study__information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  padding: 3rem;
  border-radius: var(--border-radius);

  h4 {
    margin: 0 0 .25rem;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

.case-study__information-bits {
  display: grid;
  gap: 16px;
}

.case-study__information-responsibilities li {
  margin: 0 0 .25rem;
}

.case-study__information-text {
  display: block;
  font-family: var(--font-headline);
  font-size: var(--size-500);
  line-height: 1.25;
  color: var(--black-60);
}
