/* ------------------------------------------------------------------
||  Case Study
------------------------------------------------------------------- */
.case-study {
  .case-study-title {
    margin: 0 0 8px;
  }
  
  .case-study-intro {
    margin: 0 0 24px;
    font-family: var(--font-body);
    font-weight: 400;
    line-height: 1.65;
    color: var(--text-color-secondary);
  }

  h2 {
    margin: 48px 0 16px;
  }
  
  h3, h4 {
    margin: 0 0 8px;
  }

  figure {    
    img {
      width: 100%;
      height: 100%;
    }
  }

  .case-study-cover {
    img {
      max-width: 100%;
      border: 2px solid var(--border-color);
      border-radius: var(--border-radius);
    }
  }
}

.case-study-cover__image {
  margin: 0;
}

.case-study__content {
  margin-bottom: 4.5rem;
  
  figure {
    img {
      border: 2px solid var(--border-color);
      border-radius: var(--border-radius);
    }
  }
}

/* ------------------------------------------------------------------
||  Case Study - Information
------------------------------------------------------------------- */
.case-study__information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
  padding: 3rem;
  background: linear-gradient(128deg, #F9FAFB 8%, #FFFFFF 96%);
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);

  h4 {
    margin: 0 0 .25rem;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

.case-study__information-bits {
  display: grid;
  gap: 16px;
}

.case-study__information-responsibilities li {
  margin: 0 0 .25rem;
}

.case-study__information-text {
  display: block;
  font-family: var(--font-headline);
  font-size: var(--size-500);
  line-height: 1.25;
  color: var(--black-60);
}
