.intro {
  margin: 0 0 72px;
}

.intro-slogan {
  margin: 0 0 32px;
  font-family: var(--font-body);
}

.experiences-list {
  display: grid;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.experiences-item {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 24px;
}

.experiences-item__time {
  grid-column: span 3;
  font-family: var(--font-headline);
}

.experiences-item__time span {
  font-size: 1.125rem;
  line-height: 1.25;
  color: var(--text-color-tertiary);
}

.experiences-item__content {
  grid-column: span 5;
}

.experiences-item__header {
  margin: 0 0 4px;
}

.experiences-item__title {
  margin: 0 0 2px;
}

.experiences-item__location {
  display: block;
  font-family: var(--font-headline);
  font-size: 16px;
  line-height: 24px;
  color: var(--text-color-tertiary);
}

.experiences-item__summary {
  margin: 0;
  font-size: 1rem;
  line-height: 1.65;
}
