/* ------------------------------------------------------------------
||  Podcasts
------------------------------------------------------------------- */
.podcast-list {
  display: grid;
  gap: 48px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 0;
  padding: 0;
  list-style: none;
}

.podcast-item-cover {
  margin: 0 0 12px;
}

.podcast-title {
  margin: 0 0 4px;
}

.podcast-item__meta {
  font-size: var(--size-400);
  color: var(--black-60);
}
