.portfolio-intro,
.portfolio-case-studies {
  margin: 0 0 72px;
}

.portfolio-case-studies-list {
  display: grid;
  gap: 24px;
  
  @media (min-width: 72rem) {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ------------------------------------------------------------------
||  Portfolio - Item
------------------------------------------------------------------- */
.project-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
  min-height: 256px;
  background: linear-gradient(128deg, #F9FAFB 8%, #FFFFFF 96%);
  border-radius: var(--border-radius);
  box-shadow: 0 0 0 1px var(--border-color);
  text-decoration: none;
  transition: box-shadow 0.2s;
  
  &:hover, &:focus {
    text-decoration: none;
    box-shadow: 0 0 0 2px var(--tint-color);
  }

  @media (min-width: 72rem) {
    height: 256px;
    min-height: auto;
  }
}

.project-title {
  margin: 0 0 8px;
  color: var(--text-color-primary);
}

.project-description {
  margin: 0 0 32px;
  font-size: 1rem;
  color: var(--text-color-secondary);
  
  @media (min-width: 72rem) {
    margin: 0;
  }
}

.project-details {
  display: block;
  margin: 0;
  font-family: var(--font-headline);
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-color-tertiary);
}

/* ------------------------------------------------------------------
||  Portfolio - Item Simple
------------------------------------------------------------------- */
.portfolio-side-projects-list {
  display: grid;
  gap: 24px;
}

.portfolio-side-projects-item__title {
  margin: 0 0 4px;
}

.portfolio-side-projects-item__title a {
  color: var(--text-color-primary);
  text-decoration: none;
  
  &:hover, &:focus {
    color: var(--tint-color);
  }
}

.portfolio-side-projects-item__description p {
  margin: 0;
}
