.writing-block {
  margin: 0 0 48px;
}

.writing__list {
  display: grid;
  gap: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.writing__item-title {
  margin: 0 0 4px;
}

.writing__item-title a {
  color: var(--text-color-primary);
  text-decoration: none;
  
  &:hover, &:focus {
    color: var(--tint-color);
  }
}

.writing__item-caption {
  display: block;
  font-family: var(--font-headline);
  font-size: 1rem;
  line-height: 1.25;
  color: var(--text-color-tertiary);
}
