/* ------------------------------------------------------------------
||  Writing
------------------------------------------------------------------- */
.writing {
  @media (min-width: 45rem) {
    display: grid;
    gap: 48px;
    grid-template-columns: 60vw 1fr;
  }
  
  @media (min-width: 60rem) {
    grid-template-columns: 60ch 1fr;
  }
}

.writing-tag-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.writing-tag-item {
  display: inline-block;
  margin: 0 4px 8px 0;
  font-size: var(--size-400);

  a {
    display: block;
    padding: 4px 8px;
    font-family: var(--font-headline);
    line-height: 1.25;
    text-decoration: none;
    color: var(--black-60);
    border: 1px solid var(--black-30);
    border-radius: var(--border-radius);
    
    &:hover {
      color: #B8144B;
      background-color: rgba($color: #B8144B, $alpha: 0.1);
      border: 1px solid #B8144B;
    }
  }
}
